#show-contact, #show-destination, #show-todo {
  display: none;
}

.contact, .destination, .todo {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover, .destination, .todo {
  text-decoration: underline;
}
